/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  font-family: 'Noto Sans', serif;
}
.block {
  background-color: #ffc107;
  padding: 20px;
  color: #1b1e21;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider {
  background-color: #3e679a;
  padding-top: 10px;
  padding-bottom: 10px;
}
.lien-1 {
  border: 1px solid #eaeff5;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.button {
  background-color: #252525;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(171, 171, 171, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(171, 171, 171, 0.5);
  letter-spacing: 1px;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 44px;
  border-radius: 22px;
  font-weight: 700;
  cursor: pointer;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #ffc80a;
  text-decoration: none;
  color: #fff;
}
.button--orange {
  background-color: #FFC80A;
  padding-left: 30px;
  padding-right: 30px;
}
.button--orange:hover,
.button--orange:active,
.button--orange:focus {
  background-color: #ffe400;
  text-decoration: none;
  color: #000;
}
.section {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 1170px) {
  .section {
    padding-bottom: 70px;
  }
}
.section--p-t-70 {
  padding-top: 70px;
}
@media (min-width: 992px) {
  .section--m-p-b-0 {
    padding-bottom: 0;
  }
}
.package-price--card {
  text-align: center;
  border-radius: 7px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
          box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  padding-top: 34px;
  padding-bottom: 47px;
  margin-bottom: 40px;
}
.package-price--card.last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .package-price--card {
    margin-bottom: 0;
  }
}
.package-price--card__name {
  font-size: 12px;
  color: #242526;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.package__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #242526;
  margin-bottom: 24px;
}
.package__price:after {
  content: "c";
  font-family: 'als_rublregular';
}
.package-price--card__period {
  color: #242526;
  font-size: 12px;
  margin-bottom: 35px;
}
.package-price--card__list {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}
.package-price--card__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.package-price--card__list ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.package-price--card__list ul li:before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/ok-icon.png");
  background-repeat: no-repeat;
  background-position: left 2px;
  display: inline-block;
  margin-right: 10px;
}
.heading {
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  margin-top: 0;
  position: relative;
}
@media (min-width: 1200px) {
  .heading {
    font-size: 38px;
    margin-bottom: 40px;
  }
}
.heading--smaller-margin {
  margin-bottom: 20px;
}
.heading--number:before {
  height: 26px;
  width: 26px;
  display: block;
  border-radius: 13px;
  background-color: #FFC80A;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-top: 3px;
  padding-left: 9px;
  position: absolute;
  left: -13px;
  top: -40px;
  content: "0";
}
@media (min-width: 1200px) {
  .heading--number:before {
    left: -32px;
    top: -30px;
  }
}
.heading--number-1:before {
  content: "1";
}
.heading--number-2:before {
  content: "2";
}
.head-price--title {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .head-price--title {
    font-size: 38px;
    margin-bottom: 20px;
  }
}
.head-price--slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  color: #777777;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
}
.foot-bg1 {
  background-color: #252525;
}
.footer--title {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #f7f8f9;
  margin-bottom: 25px;
}
.footer--title__link {
  font-size: 14px;
  font-family: "Noto Sans";
  color: #6c6c6c;
  margin-bottom: 50px;
}
.footer--title__link ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer--title__link li {
  margin-bottom: 17px;
}
.footer--title__link a {
  color: #6c6c6c;
  text-decoration: none;
}
.footer--title__link a:hover,
.footer--title__link a:active {
  color: #ffc80a;
  cursor: pointer;
}
.footer--title__link .list--link {
  margin-bottom: 0;
}
.m--t--b--40 {
  margin-top: 40px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .m--t--b--40 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.footer--copy-title {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  color: #6c6c6c;
  line-height: 22px;
  margin-bottom: 10px;
}
.logo {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 100px;
}
@media (min-width: 992px) {
  .logo {
    padding-top: 30px;
  }
}
.logo_name {
  font-size: 33px;
  line-height: 1.5;
  letter-spacing: 5.5px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .logo_name {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo_slogan {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 7px;
  color: #a1bbd9;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .logo_slogan {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
.navigation {
  background-color: #38383a;
  color: #FFFFFF;
  font-family: "Noto Sans", serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 0px #2a496d;
          box-shadow: 0px 5px 10px 0px #2a496d;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 992px) {
  .navigation {
    background-color: #38383a;
    padding-top: 23px;
    padding-bottom: 23px;
    position: static;
  }
}
.navigation ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #35577D;
}
@media (min-width: 992px) {
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
  }
}
.navigation li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #466a92;
}
@media (min-width: 992px) {
  .navigation li {
    border-bottom: none;
    padding: 0;
  }
}
.navigation li.active {
  color: #ffcc00;
}
.navigation li a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 22px 15px;
}
@media (min-width: 992px) {
  .navigation li a {
    padding: 0;
    display: inline;
  }
}
.navigation li a:hover,
.navigation li a.active {
  color: #ffcc00;
}
.navigation__button {
  display: block;
  position: relative;
  padding: 23px 15px;
  cursor: pointer;
  background-color: #38383A;
}
.navigation__button:before {
  content: '';
  position: absolute;
  top: 23px;
  right: 15px;
  width: 25px;
  height: 20px;
  background: url("../img/icons/navigation-icon.png") no-repeat 0 0;
}
.navigation__button:focus,
.navigation__button:active {
  background-color: #16385F;
}
@media (min-width: 992px) {
  .navigation__button {
    display: none;
  }
}
.navigation__button__active {
  background-color: #16385F;
}
.mobile__no__padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .mobile__no__padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .mobile__no__padding {
    width: 1170px;
  }
}
.slider {
  background-color: #093a77;
  padding-top: 100px;
  padding-bottom: 130px;
  background-image: url("../img/bg/slider-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 25px 0px #688ab3;
          box-shadow: 0px 3px 25px 0px #688ab3;
}
.slider__title {
  font-size: 28px;
  line-height: 38px;
  font-family: "Noto Sans", serif;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .slider__title {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider__slogan {
  font-size: 18px;
  line-height: 28px;
  font-family: "Noto Serif", serif;
  color: #cddfe0;
  text-align: center;
}
@media (min-width: 1200px) {
  .slider__slogan {
    font-size: 22px;
    line-height: 32px;
  }
}
.lg-block {
  display: none;
}
@media (min-width: 768px) {
  .lg-block {
    display: block;
  }
}
.xl-none {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .xl-none {
    display: none;
  }
}
/*
*   Owl Carousel Owl Demo Theme 
* v1.3.3
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: none;
  position: absolute;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: left top;
  top: 50%;
  margin-top: -36px;
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    display: block;
  }
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left.png');
}
.owl-next {
  right: 0;
  background-image: url('../img/icons/arrow-right.png');
}
/* Styling Pagination*/
.owl-pagination {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
@media (min-width: 992px) {
  .owl-pagination {
    display: none;
  }
}
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  border-radius: 20px;
  background: #fff;
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.caption--block {
  margin: 0;
  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .caption--block {
    font-size: 38px;
    font-family: "Noto Sans", sans-serif;
    color: #333333;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
  }
}
.benefit-block {
  padding-bottom: 38px;
}
.benefit-block:last-child {
  padding-bottom: 0;
}
@media (min-width: 762px) {
  .benefit-block:nth-last-child(2) {
    padding-bottom: 0;
  }
  .benefit-block:last-child {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .benefit-block {
    margin-bottom: 24px;
  }
}
.benefit-block__img {
  height: 130px;
  margin-bottom: 18px;
  display: table;
  width: 100%;
}
@media (min-width: 1200px) {
  .benefit-block__img {
    margin-bottom: 24px;
  }
}
.benefit-block__img div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.benefit-block__img img {
  display: inline-block;
}
.benefit-block__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .benefit-block__header {
    font-size: 22px;
    line-height: 28px;
  }
}
.benefit-block__text {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.images {
  background-repeat: no-repeat;
  height: 130px;
  margin-bottom: 24px;
  display: table;
  width: 100%;
  text-align: center;
}
.images div {
  display: table-cell;
  vertical-align: middle;
}
.images img {
  display: inline-block;
}
.md-m-t-40 {
  margin-top: 40px;
}
.block--inform {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.inform__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .inform__title {
    font-size: 22px;
    font-family: "Noto Sans", sans-serif;
    color: #333333;
    font-weight: bold;
    line-height: 29px;
  }
}
.inform__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  color: #777777;
  line-height: 24px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}
.list-child {
  margin-bottom: 0;
}
.block-content__img {
  margin: 0;
  padding: 0;
}
.block-content__img--mb-xs-20 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .block-content__img--mb-xs-20 {
    margin-bottom: 0;
  }
}
.block-content__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 1200px) {
  .block-content__title {
    font-size: 38px;
  }
}
.block-content__title--number:before {
  display: block;
  width: 26px;
  height: 26px;
  background-color: #ffc80a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 13px;
  padding-top: 2px;
  padding-left: 8px;
  position: absolute;
  left: -13px;
  top: -40px;
  content: "0";
}
@media (min-width: 1200px) {
  .block-content__title--number:before {
    left: -32px;
    top: -30px;
  }
}
.block-content__title--number-1:before {
  content: "1";
}
.block-content__title--number-2:before {
  content: "2";
}
.block-content__slogan {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  color: #777777;
  line-height: 24px;
}
.block-content__slogan p {
  margin-top: 0;
  margin-bottom: 22px;
}
.block-content__button-arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: left top;
  cursor: pointer;
}
